---
import { Image } from "astro:assets";
import profilePicture from "../assets/images/profile-picture.png";
import HtmlIcon from "../assets/icons/dark/html5.svg";
import CssIcon from "../assets/icons/dark/css.svg";
import JsIcon from "../assets/icons/dark/js.svg";
import NodeIcon from "../assets/icons/dark/nodejs.svg";
import MySqlIcon from "../assets/icons/dark/mysql.svg";
import ReactIcon from "../assets/icons/dark/reactjs.svg";
import SassIcon from "../assets/icons/dark/sass.svg";
import AstroIcon from "../assets/icons/dark/astro.svg";
import NetlifyIcon from "../assets/icons/dark/netlify.svg";
import VsIcon from "../assets/icons/dark/vs.svg";
import GitIcon from "../assets/icons/dark/git.svg";
import PostmanIcon from "../assets/icons/dark/postman.svg";
import PostgreSQLIcon from "../assets/icons/dark/postgresql.svg";
import PhotoShopIcon from "../assets/icons/dark/ps.svg";
import JestIcon from "../assets/icons/dark/jest.svg";
import NextIcon from "../assets/icons/dark/nextjs.svg";
import FigmaIcon from "../assets/icons/dark/figma.svg";
import "../styles/components/Profile.scss";
---

<section class="intro" id="intro">
  <fieldset class="profile">
    <legend class="profile__legend">ABOUT ME</legend>
    <Image
      src={profilePicture}
      alt="Andrew's portrait"
      class="profile__picture"
      loading="eager"
    />
    <section class="profile__biography">
      <p class="profile__bio-text">
        Hello, I am Andrew Josephs, a self-taught web-developer turned
        Full-stack Software Engineer after recently graduating from
        BrainStation's bootcamp.
      </p>
      <p class="profile__bio-text">
        While studying Economics at Babson College I was introduced to the world
        of web-development in the final semester of my senior year. I decided to
        pivot from the traditional path of finance and economics, as I was
        captured by the possibility of innovation through code.
      </p>
      <p class="profile__bio-text">
        I am passionate about creating impactful applications with simple and
        user-friendly design.
      </p>
    </section>
  </fieldset>
  <fieldset class="skills">
    <legend class="skills__legend">SKILLS</legend>
    <section class="skills__container">
      <!-- when adding dark and light mode use js to change class ex darkmode: skills__vs-dark -->
      <img
      src={HtmlIcon.src}
      alt="html icon"
      class="skills__icon skills__icon--html5"
      loading="lazy"
      draggable="false"
      />
      <img
      src={CssIcon.src}
      alt="css icon"
      class="skills__icon skills__icon--css"
      loading="lazy"
      draggable="false"
      />
      <img
      src={JsIcon.src}
      alt="JavaScript icon"
      class="skills__icon skills__icon--js"
      loading="lazy"
      draggable="false"
      />
      <img
      src={ReactIcon.src}
      alt="React icon"
      class="skills__icon skills__icon--reactjs"
      loading="lazy"
      draggable="false"
      />
      <img
      src={NextIcon.src}
      alt="Next.js icon"
      class="skills__icon skills__icon--nextjs"
      loading="lazy"
      draggable="false"
      />
      <img
      src={NodeIcon.src}
      alt="Nodejs icon"
      class="skills__icon skills__icon--nodejs"
      loading="lazy"
      draggable="false"
      />
      <img
      src={MySqlIcon.src}
      alt="MySql icon"
      class="skills__icon skills__icon--mysql"
      loading="lazy"
      draggable="false"
      />
      <img
      src={SassIcon.src}
      alt=" SASS icon"
      class="skills__icon skills__icon--sass"
      loading="lazy"
      draggable="false"
      />
      <img
      src={AstroIcon.src}
      alt=" Astro icon"
      class="skills__icon skills__icon--astro"
      loading="lazy"
      draggable="false"
      />
      <img
      src={NetlifyIcon.src}
      alt="Netlify icon"
      class="skills__icon skills__icon--netlify"
      loading="lazy"
      draggable="false"
      />
      <img
      src={VsIcon.src}
      alt="vs code icon"
      class="skills__icon skills__icon--vs"
      loading="lazy"
      draggable="false"
      />
      <img
      src={GitIcon.src}
      alt="git icon"
      class="skills__icon skills__icon--git"
      loading="lazy"
      draggable="false"
      />
      <img
      src={FigmaIcon.src}
      alt="Figma icon"
      class="skills__icon skills__icon--figma"
      loading="lazy"
      draggable="false"
      />
      <img
      src={PostmanIcon.src}
      alt="Postman icon"
      class="skills__icon skills__icon--postman"
      loading="lazy"
      draggable="false"
      />
      <img
      src={PhotoShopIcon.src}
      alt="adobe photoshop icon"
      class="skills__icon skills__icon--photoshop"
      loading="lazy"
      draggable="false"
      />
      <img
      src={PostgreSQLIcon.src}
      alt="postgreSQL icon"
      class="skills__icon skills__icon--postgresql"
      loading="lazy"
      draggable="false"
      />
      <img
      src={JestIcon.src}
      alt=" jest icon"
      class="skills__icon skills__icon--jest"
      loading="lazy"
      draggable="false"
      />
    </section>
  </fieldset>
</section>
