---
import profilePicture from "../assets/images/profile-picture.png";
import HtmlIcon from "../assets/icons/dark/html5.svg";
import CssIcon from "../assets/icons/dark/css.svg";
import JsIcon from "../assets/icons/dark/js.svg";
import NodeIcon from "../assets/icons/dark/nodejs.svg";
import MySqlIcon from "../assets/icons/dark/mysql.svg";
import ReactIcon from "../assets/icons/dark/reactjs.svg";
import SassIcon from "../assets/icons/dark/sass.svg";
import AstroIcon from "../assets/icons/dark/astro.svg";
import NetlifyIcon from "../assets/icons/dark/netlify.svg";
import VsIcon from "../assets/icons/dark/vs.svg";
import GitIcon from "../assets/icons/dark/git.svg";
import PostmanIcon from "../assets/icons/dark/postman.svg";
import PsIcon from "../assets/icons/dark/ps.svg";
import JestIcon from "../assets/icons/dark/jest.svg";
import "../styles/components/Profile.scss";
---

<section class="intro" id="intro">
  <fieldset class="profile">
    <legend class="profile__legend">ABOUT ME</legend>
    <img src={profilePicture} alt="profile picture" class="profile__picture" />
    <section class="profile__biography">
      <p class="profile__bio-text">
        Hello, I am Andrew Josephs, a self-taught web-developer turned
        Full-stack Software Engineer after recently graduating from
        BrainStation's bootcamp.
      </p>
      <p class="profile__bio-text">
        While studying Economics at Babson College I was
        introduced to the world of web-development in the final semester of
        my senior year. I decided to pivot from the traditional path of finance and economics, as
        I was captured by the possibility of innovation through code.
      </p>
      <p class="profile__bio-text">
        I am passionate about creating impactful applications with simple and
        user-friendly design.
      </p>
    </section>
  </fieldset>
  <fieldset class="skills">
    <legend class="skills__legend">SKILLS</legend>
    <section class="skills__container">
      <!-- when adding dark and light mode use js to change class ex darkmode: skills__vs-dark -->
      <img
        src={HtmlIcon}
        alt="html icon"
        class="skills__icon skills__icon--html5"
      />
      <img
        src={CssIcon}
        alt="css icon"
        class="skills__icon skills__icon--css"
      />
      <img
        src={JsIcon}
        alt="JavaScript icon"
        class="skills__icon skills__icon--js"
      />
      <img
        src={NodeIcon}
        alt="Nodejs icon"
        class="skills__icon skills__icon--nodejs"
      />
      <img
        src={MySqlIcon}
        alt="MySql icon"
        class="skills__icon skills__icon--mysql"
      />
      <img
        src={ReactIcon}
        alt="React icon"
        class="skills__icon skills__icon--reactjs"
      />
      <img
        src={SassIcon}
        alt=" SASS icon"
        class="skills__icon skills__icon--sass"
      />
      <img
        src={AstroIcon}
        alt=" Astro icon"
        class="skills__icon skills__icon--astro"
      />
      <img
        src={NetlifyIcon}
        alt="Netlify icon"
        class="skills__icon skills__icon--netlify"
      />
      <img
        src={VsIcon}
        alt="vs code icon"
        class="skills__icon skills__icon--vs"
      />
      <img
        src={GitIcon}
        alt="git icon"
        class="skills__icon skills__icon--git"
      />
      <img
        src={PostmanIcon}
        alt="Postman icon"
        class="skills__icon skills__icon--postman"
      />
      <img
        src={PsIcon}
        alt="Photoshop icon"
        class="skills__icon skills__icon--ps"
      />
      <img src={JestIcon} alt=" icon" class="skills__icon skills__icon--jest" />
    </section>
  </fieldset>
</section>
