---
import { Image } from "astro:assets";
import clearkreak from "../assets/images/clearkreak.gif";
import padelup from "../assets/images/padelup-screenshot.png";
import axiosScreenshot from "../assets/images/axios-screenshot.png";
import wehyuhdehgif from "../assets/images/wehyuhdehgif.gif";
import amexgif from "../assets/images/amexindustry.gif";
import github from "../assets/icons/content/github-sienna.svg";
import linkIcon from "../assets/icons/content/link-icon.svg";
import videoIcon from "../assets/icons/content/video-icon.svg";
import cardle from "../assets/images/carde-demo.png";
import "../styles/components/Projects.scss";
---

<section class="projects" id="project">
  <h1 class="projects__heading">PROJECTS</h1>
  <fieldset class="project project--cardle">
    <legend class="project__legend">CARDLE</legend>
    <div class="project__mockup">
      <Image src={cardle} alt="application demo" class="project__gif" />
    </div>
    <div class="project__information">
      <div class="project__links">
        <a
          target="_blank"
          href="https://playcardle.com/"
          class="project__link project__link--url"
          ><img
            src={linkIcon.src}
            class="project__url"
            alt="link icon"
            loading="lazy"
          /></a
        >
        <a
          target="_blank"
          href="https://github.com/ajosephs1/cardle"
          class="project__link project__link--github"
          ><img
            src={github.src}
            class="project__github"
            alt="github icon"
            loading="lazy"
          /></a
        >
      </div>
      <p class="project__description">
        Progressive web app game tailored for car enthusiasts, offering a fun
        twist on the classic New York Times game Wordle.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">React</span>
        <span class="project__techstack">SASS</span>
        <span class="project__techstack">Strapi</span>
        <span class="project__techstack">PostgreSQL</span>
        <span class="project__techstack">Heroku</span>
        <span class="project__techstack">REST API</span>
      </div>
    </div>
  </fieldset>
  <fieldset class="project project--padelup">
    <legend class="project__legend">PADEL UP</legend>
    <div class="project__mockup">
      <Image
        src={padelup}
        alt="application demo"
        class="project__gif"
        widths={[240, 540, 720]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
        format="avif"
      />
    </div>
    <div class="project__information">
      <div class="project__links">
        <a
          target="_blank"
          href="https://padelup.club/"
          class="project__link project__link--url"
          ><img
            src={linkIcon.src}
            class="project__url"
            alt="link icon"
            loading="lazy"
          /></a
        >
      </div>
      <p class="project__description">
        Designed and developed a high-performance website for a Padel club in
        LA, California, using low-latency techniques and integrating Google
        Maps. Utilized Webflow's backend to process forms and add mailing list
        features. Collaborated with the marketing and design teams to
        iteratively refine the site for optimal brand alignment and user
        experience.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">Webflow</span>
        <span class="project__techstack">CSS</span>
        <span class="project__techstack">CMS</span>
        <span class="project__techstack">JavaScript</span>
      </div>
    </div>
  </fieldset>
  <fieldset class="project project--clearkreak">
    <legend class="project__legend">AXIOS</legend>
    <div class="project__mockup">
      <Image
        src={axiosScreenshot}
        alt="application demo"
        class="project__gif"
        widths={[240, 540, 720]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
        format="avif"
      />
    </div>
    <div class="project__information">
      <div class="project__links">
        <a
          target="_blank"
          href="https://www.axiosresource.com/"
          class="project__link project__link--url"
          ><img
            src={linkIcon.src}
            class="project__url"
            alt="link icon"
            loading="lazy"
          /></a
        >
      </div>
      <p class="project__description">
        Designed and developed a Webflow landing website for a distribuition company to
        effectively communicate their value to stakeholders. Leveraged Webflow's
        templating features to go from ideation to a live product in a two week
        timeframe.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">Webflow</span>
        <span class="project__techstack">CSS</span>
        <span class="project__techstack">CMS</span>
      </div>
    </div>
  </fieldset>
  <fieldset class="project project--wehyuhdeh">
    <legend class="project__legend">WEH YUH DEH</legend>
    <div class="project__mockup">
      <Image src={wehyuhdehgif} alt="application demo" class="project__gif" />
    </div>
    <div class="project__information">
      <div class="project__links">
        <a
          target="_blank"
          href="https://www.loom.com/share/6ac89934c02f4c02a2e47f29c3e4de27"
          class="project__link project__link--url"
          ><img
            src={videoIcon.src}
            class="project__url"
            alt="video icon"
            loading="lazy"
          /></a
        >
        <a
          target="_blank"
          href="https://github.com/ajosephs1/capstone-wehyuhdeh"
          class="project__link project__link--github"
          ><img
            src={github.src}
            class="project__github"
            alt="github icon"
            loading="lazy"
          /></a
        >
      </div>
      <p class="project__description">
        Platform designed to empower the Jamaican diaspora by connecting them
        with valuable resources, exciting events, and trusted Jamaican-friendly
        services available abroad.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">React</span>
        <span class="project__techstack">SASS</span>
        <span class="project__techstack">Node</span>
        <span class="project__techstack">MySQL</span>
        <span class="project__techstack">Express</span>
        <span class="project__techstack">Google Maps/Places API</span>
      </div>
    </div>
  </fieldset>
  <fieldset class="project project--amex">
    <legend class="project__legend">AMEX CHATBOT</legend>
    <div class="project__mockup">
      <Image src={amexgif} alt="application demo" class="project__gif" />
    </div>
    <div class="project__information">
      <div class="project__links">
        <a
          target="_blank"
          href="https://github.com/ajosephs1/amex-industry-project"
          class="project__link project__link--github"
          ><img
            src={github.src}
            class="project__github"
            alt="github icon"
            loading="lazy"
          /></a
        >
      </div>
      <p class="project__description">
        Developed during a 24-hour hackathon for an industry event, this
        application was designed to enhance American Express' client support
        model, simulating the capabilities of an AI-powered chatbot, providing
        efficient solutions to resolve client inquiries and issues.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">JavaScript</span>
        <span class="project__techstack">React</span>
        <span class="project__techstack">SASS</span>
        <span class="project__techstack">Object Oriented Programming</span>
      </div>
    </div>
  </fieldset>
  <!-- <fieldset class="project project--got">
    <legend class="project__legend">GOT Quote Generator</legend>
    <div class="project__mockup">
      <Image src={got} alt="application demo" class="project__gif" />
    </div>
    <div class="project__information">
      <div class="project__links">
        <a
          target="_blank"
          href="https://www.andrewjosephs.com/game-of-thrones-quote-generator/"
          class="project__link project__link--url"
          ><img
            src={linkIcon.src}
            class="project__url"
            alt="link icon"
            loading="lazy"
          /></a
        >
        <a
          target="_blank"
          href="https://github.com/ajosephs1/game-of-thrones-quote-generator"
          class="project__link project__link--github"
          ><img
            src={github.src}
            class="project__github"
            alt="github icon"
            loading="lazy"
          /></a
        >
      </div>
      <p class="project__description">
        Explore a diverse collection of memorable quotes from the series, where
        the wisdom, humor, and drama of Westeros come to life with each click.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">React</span>
        <span class="project__techstack">JavaScript</span>
        <span class="project__techstack">CSS</span>
        <span class="project__techstack">Data Fetching</span>
      </div>
    </div>
  </fieldset> -->
</section>
